{% load static %}
{% block content %}

<div class="sidebar-item mh-author-info">
    <div class="mh-author-img">
        <div class="img-border">
            <img src="{% static 'images/b-author.jpg' %}" alt="" class="img-fluid">
        </div>
    </div>
    <h2>Mahsa Arjmand</h2>
    <h4>Backend developer</h4>
    <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit uo esse possimus unde
        nostrum nesciunt nam dolor veritatis.
    </p>
    <ul class="social-icon">
        <li><a href=""><i class="fa fa-github"></i></a></li>
    </ul>
</div>
{% endblock %}